.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #0a0909;
}

h1 {
  margin: 30px;
  font-family: fantasy;
  text-shadow: 5px 0 #492a50;
  font-size: 8rem;
  color: #b362c4;
}

p {
  font-size: 2rem;
  color: #c5d661;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
